* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    margin:0;
    padding-top:0;
}

main .produtos {
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

main .produtos li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex:1;
    margin: 0 1.5%;
    padding: 30px 20px;
    border: 2px solid #000;
    border-radius: 2%;
}
main .produtos li:hover {
    border-color:#c78c19;
}
main .produtos li:active {
    border-color: #088c19;
}
main .produtos li:hover h2 {
    font-size: 31px;
}
.produtos h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}
.produto-descricao {
    font-size: 18px;
    margin-top: 10px;
}
.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0;
}
