*{
    box-sizing:border-box;
}
body, html{
    margin:0;
}
body {
    padding: 0;
    background-color:#cdcdcd;
}
h1 { 
    font-style: italic;
    text-align:center;
}
p {
    font-size: 15pt;
    text-align:center;
}
p#descricao strong#missao {
    color: red;
}
img#banner {
    width:100%;
}